* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  background: linear-gradient(
    120deg,
    rgba(57, 0, 153, 0.8) 0%,
    rgba(158, 0, 89, 0.8) 85%
  );
  padding-top: 125px;
}
.main--calc_app {
  max-width: 500px;
  margin-left: 100px;
}
.main--heading {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}
.main--heading span {
  color: #ffd900;
}
.content {
  width: 85%;
  background: rgb(216, 187, 255, 0.4);
  height: 80px;
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  border-radius: 7px;
  margin-bottom: 25px;
}
.date-picker {
  width: 75%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}
.date-picker:focus-visible {
  outline: none;
}
.date-picker::-webkit-calendar-picker-indicator {
  font-size: 24px;
  cursor: pointer;
}
.btn--calculate {
  background-color: #ffd900;
  width: 25%;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}
.output--data {
  color: #fff;
  font-size: 18px;
}
.output--data span {
  color: #ffd900;
}
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  min-height: 40px;
  font-size: 14px;
  padding: 10px;
}
footer a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 531px) {
  .main--calc_app {
    margin: 0 auto;
    padding: 0 30px;
  }
  .content {
    width: 90%;
    padding: 10px;
    gap: 10px;
  }
  .output {
    max-width: 90%;
  }
}
@media (max-width: 431px) {
  .content {
    flex-direction: column;
    height: 140px;
    justify-content: center;
    align-items: center;
  }
  .btn--calculate {
    height: 40px;
    width: 40%;
  }
}
